.git
.github
.env
.env.*
!.env.example
node_modules
npm-debug.log
yarn-error.log
vendor
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*.php
!bootstrap/cache/.gitignore
database/*.sqlite
database/*.sqlite-journal
tests
docker/mysql/data
.phpunit.result.cache
.editorconfig
.DS_Store
Thumbs.db
